<h1>{{ bank.name }} products</h1>

<h3>Filter with promise &amp; <code>PromiseArray</code></h3>

Filter: {{ input value=input1 }}<br><br>

<table>
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Active</th>
  </tr>
  {{#each filter1 as |product| }}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.accounts }}</td>
  </tr>
  {{/each}}
</table>

<br><hr><br>

<h3>Filter sync</h3>

Filter: {{ input value=input2 }}<br><br>

<table>
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Active</th>
  </tr>
  {{#each filter2 as |product| }}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.accounts }}</td>
  </tr>
  {{/each}}
</table>

<br><hr><br>

<h3>Add-on <code>ember-cli-filter-by-query</code> filter</h3>

Filter: {{ input value=input3 }}<br><br>

<table>
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Active</th>
  </tr>
  {{#each filter3 as |product| }}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.accounts }}</td>
  </tr>
  {{/each}}
</table>